:root {
    --color-background-body: #1CC88A;

}

/* Scroll Chrome */
.container::-webkit-scrollbar {
    width: 25px;
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    border: 10px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

.container:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(--color-background-body);
}

.container:hover::-webkit-scrollbar-thumb:hover {
    border: 8px solid transparent;
    box-shadow: inset 0 0 0 10px var(--color-background-body);
}

/* Con esta propiedad damos margenes al scrroll cuando queremos que
no pase de determinado lugar */
.container::-webkit-scrollbar-track {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Scroll Chrome */

/* Este es la barra de fondo del scrollbar */
.menu-container::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

/* Aca damos el diseno default para el scroll */
.menu-container::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-color: var(--color-background-body);
    box-shadow: none;
    border-radius: 40px;
}

/* Esto define como se ve el scroll cuando estamos dentro de container */
.menu-container:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px var(background-add);
}

/* Esto define como se ve el scroll cuando posamos el mause sobre el */
.menu-container:hover::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 10px var(background-add);
}

.menu-container::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 40px;
}


/* Scroll Chrome */

/* Este es la barra de fondo del scrollbar */
.container__table::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
}

/* Aca damos el diseno default para el scroll */
.container__table::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    box-shadow: none;
    border-radius: 40px;
}

/* Esto define como se ve el scroll cuando estamos dentro de container */
.container__table:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px #1CC88A;
}

/* Esto define como se ve el scroll cuando posamos el mause sobre el */
.container__table:hover::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    box-shadow: inset 0 0 0 10px #1CC88A;
}

.container__table::-webkit-scrollbar-track {
    margin-left: 0rem;
    margin-right: 0rem;
}
    
/* Scroll Moz*/
@-moz-document url-prefix() {
    .container,
    .menu-container,
    .container__table {
        scrollbar-width: thin;
        scrollbar-color: var(--color-ok) transparent;
        scroll-behavior: smooth;
        scrollbar-width: 15px;
    }

    .container:hover,
    .menu-container:hover,
    .container__table:hover {
        scrollbar-color: var(--color-background-body) transparent;
    }
}